<template>
  <div class="ui menu" ref="menu">    
    <slot></slot> 
  </div>
</template>
<!--JS File-->
<script src="./navbar.js"></script>
<!--CSS File-->
<style lang="scss" src="./navbar.scss"></style>