<template>
  <div class="dns-page">
    <div v-if="showModalPassword">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-dialog mt-0" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Alteração de senha</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" @click="showModalPassword = false">&times;</span>
                  </button>
                </div>
                <div class="modal-body text-left">
                  <form class="ui form">
                    <div class="field">
                      <label>Senha atual</label>
                      <input
                        maxlength="255"
                        type="password"
                        v-model="Password.old"
                        name="password-old"
                        placeholder="Senha antiga"
                      >
                    </div>
                    <div class="field">
                      <label>Nova senha</label>
                      <input
                        maxlength="255"
                        type="password"
                        v-model="Password.new"
                        name="password-new"
                        placeholder="Nova senha"
                      >
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    @click="showModalPassword = false"
                  >Fechar</button>
                  <button
                    type="button"
                    class="btn btn-modal-save"
                    :disabled="DisableModalPassword"
                    @click="Save"
                  >Salvar Alterações</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
    <ui-navbar fixed="top" class="navbar-page">
      <a class="item" @click.prevent="onAttach">
        <i class="sidebar icon text-white"></i>
        <div class="navbar-page">
          <img class="internal-logo" alt="Logotipo" src="@/assets/img/logo-white.png">
        </div>
      </a>
      <div class="right menu">
        <div class="item">
          <div class="dropdown">
            <button class="dropbtn text-white">
              <i class="user icon"></i>
              {{Username}}
            </button>
            <div class="dropdown-content text-left">
              <div class="profile-button" @click="ShowCreate">
                <i class="user icon"></i> Perfil
              </div>
              <div class="profile-button" @click="Logout">
                <i class="log out icon"></i> Sair
              </div>
            </div>
          </div>
        </div>
      </div>
    </ui-navbar>
    <ui-sidebar :open="visible" width="thin" direction="left" animation="uncover" closable dimmed>
      <template slot="sidebar">
        <div class="sub-title">Menu</div>

        <router-link to="/dns/users" class="item text-left">
          <i class="users icon"></i>
          Usuários
        </router-link>
        <!-- <router-link to="/dns/permissions" class="item text-left">
          <i class="info icon"></i>
          Permissões
        </router-link>-->
        <router-link to="/dns/instances" class="item text-left">
          <i class="travel icon"></i>
          Instâncias
        </router-link>
        <!-- <router-link to="/dashboard" class="item">
        <i class="block layout icon"></i>
        Dashboard
        </router-link>-->
      </template>

      <router-view></router-view>
    </ui-sidebar>

    <!-- <router-view></router-view> -->
  </div>
</template>
<!--JS File-->
<script src="./dns.js"></script>
<!--CSS File-->
<style lang="scss" src="./dns.scss"></style>