.dns-page {
  height: 100%;

  .internal-logo {
    width: 97px;
  }
  .navbar-page {
    background-color: #800 !important;
  }
  .dropbtn {
    background-color: transparent;
    color: black;
    // padding: 16px;
    margin-right: 16px;
    margin-left: 16px;
    font-size: 16px;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .sub-title {
    color: white;
    text-align: left;
    padding: 15px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .search-table {
    padding-bottom: 10px;
    input {
      -webkit-appearance: textarea;
    }
  }

  /* Style the list */
  ul.breadcrumb {
    font-weight: bold;
    padding: 10px 16px;
    list-style: none;
    background-color: #800;
    color: white;
  }

  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
  }

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }

  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li + li:before {
    padding: 8px;
    color: white;
    content: "/\00a0";
  }

  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }

  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

  .btn-modal-save {
    background-color: #800;
    color: white;
  }
  .profile-button {
    padding: 12px 16px;
    cursor: pointer;
  }
}
