@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.users-page {
  
  margin: auto;

  @media only screen and (max-device-width: 768px) {
    padding: 50px 15px 15px;
  }
  @media only screen and (min-device-width: 768px) {
    padding: 50px 70px 70px;
  }
}
