<template>
  <div class="ui attached segmant pushable" @click="close">
    <div ref="sidebar" class="ui inverted vertical menu sidebar">
      <slot name="sidebar"></slot>
    </div>
    <div class="pusher" ref="pusher">
      <slot></slot>
    </div>
  </div>
</template>
<!--JS File-->
<script src="./sidebar.js"></script>
<!--CSS File-->
<style lang="scss" src="./sidebar.scss"></style>