@import url('https://unpkg.com/semantic-ui-css@2.2.4/semantic.css');
#app {
  height: 100%;
  padding-top: 40px;
}

.ui.pushable {
  background-color: #545454;
}

.pushable>.pusher {
  background: white;
}
