<template>
  <div class="instances-page">
    <ul class="breadcrumb">
      <li>DNS</li>
      <li>Instâncias</li>
    </ul>
    <div class="row">
      <div class="col-md-12 text-right mb-5">
        <div class="col-sm-12 m-0 p-0">
          <button
            class="ui button col-md-1 col-sm-12 mb-1"
            v-if="buttons.create"
            @click="ShowCreate">Cadastrar</button>
          <button
            class="ui button col-md-1 col-sm-12 mb-1"
            v-if="buttons.update"
            @click="ShowUpdate"
          >Editar</button>
          <button class="ui button col-md-1 col-sm-12 mr-0" v-if="buttons.delete" @click="Delete">Deletar</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-right search-table">
        Pesquisar:
        <input type="text" v-model="searchTerm">
      </div>
    </div>

    <vue-good-table
      ref="instances-table"
      v-if="options != null"
      styleClass="vgt-table bordered"
      :columns="columns"
      :rows="rows"
      :search-options="{
      enabled: true,
      externalQuery: searchTerm
      }"
      :selectOptions="options.selectOptions"
      :pagination-options="options.paginationOptions"
      max-height="300px"
      :fixed-header="true"
      @on-selected-rows-change="SelectionChanged"
    ></vue-good-table>

    <div v-if="showModal">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-dialog mt-0" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{{action}} Instância</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" @click="showModal = false">&times;</span>
                  </button>
                </div>
                <div class="modal-body text-left">
                  <form class="ui form">
                    <div class="field">
                      <label>Domínio</label>
                      <input maxlength="255" type="text" v-model="New.domain" name="domain" placeholder="Domínio">
                    </div>
                    <div class="field">
                      <label>Descrição</label>
                      <input maxlength="255" type="text" v-model="New.description" name="description" placeholder="Descrição">
                    </div>
                    <div class="field">
                      <label>IP</label>
                      <input maxlength="255" type="text" v-model="New.ip" name="ip" placeholder="IP">
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" @click="showModal = false">Fechar</button>
                  <button type="button" class="btn btn-modal-save" :disabled="Disable" @click="Save">Salvar Alterações</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>
<!--JS File-->
<script src="./instances.js"></script>
<!--CSS File-->
<style lang="scss" src="./instances.scss"></style>