<template>
  <div class="login-page mt-5">
    <img class="logotipo" alt="Logotipo" src="@/assets/img/logo-white.png">
    <div class="form">
      <form class="login-form">
        <input maxlength="255" type="text" placeholder="Usuário" v-model="Login.username">
        <input maxlength="255" type="password" placeholder="Senha" v-model="Login.password">
        <button v-on:click="Authenticate" :disabled="Disable">Entrar</button>
      </form>
      <p class="message">
        Desenvolvido por:
        <a href="#">KALMN</a>
      </p>
    </div>
  </div>
</template>
<!--JS File-->
<script src="./login.js"></script>
<!--CSS File-->
<style lang="scss" src="./login.scss"></style>